
p {
    color: blue;
    font-size: 30px;
  }
  .product { border: 5px; color: green;
  }
  div { color: brown; size: 5px;
  }
  .kulfon {font-size: 25px; color: violet;}
  .dzindzi {border: 15px; color: orange;}
  .menu { border: 20px; color: blue;}
  .menu2 { border: 20px; color: rgb(0, 174, 255);}
  img[src] {border: 2px;}
  a:hover {color: chartreuse;}
  a:focus {color: deeppink;}
  .button {font-size: 10px; color: red;}
  table tr {border: 10px; color: darkolivegreen;}
  :root {--text-color: blue;
  --theme-color: red; --var: 12px;}